# don't add my battlecode password
credentials.txt


.idea

dist/*
build/*
out/*
src/lectureplayer

/matches
/deploy/lib
/deploy/bin
*.rms
*.bc17
/build/
/bin/
*.conf
.DS_Store
*.log
*.swp
*.pyc
.gradle
/client/
*.jar
*.iml
*.ipr
*.iws
/.idea/
benchmarking/

# User-specific stuff:
battlecode-scaffold.iws

access.txt
bc21.bat
zip.bat
submission.zip
